include docs\*.txt
include assets\*.png
include src\subsearch\data\config.json
include src\subsearch\gui\assets\btn\*.png
include src\subsearch\gui\assets\checkbox\*.png
include src\subsearch\gui\assets\icon\*.ico
include src\subsearch\gui\assets\icon\*.png
include src\subsearch\gui\assets\scale\*.png
include src\subsearch\gui\assets\scrollbar\*.png
include src\subsearch\gui\assets\tabs\*.png
include src\subsearch\gui\assets\titlebar\*.png
include src\subsearch\gui\assets\*.tcl