include docs\*.txt
include assets\*.png
include src\subsearch\data\config.json
include src\subsearch\assets\buttons\*.png
include src\subsearch\assets\tabs\*.png
include src\subsearch\assets\icons\*.ico
